
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.hero {
  background: rgb(245, 244, 244);
  margin: 10px;
  border: 1px solid rgb(155, 150, 150);
  border-radius: 6px;
}

.title {
  padding-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(155, 150, 150);
}

.group-header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border: 1px solid rgb(155, 150, 150);
}

.hashtag {
  width: 10%;
  padding-left: 5px;
  justify-content: left;
}

.group-section {
  width: 30%;
  padding-left: 5px;
  justify-content: left;
}

.slot-section {
  width: 60%;
  padding-left: 5px;
  justify-content: left;
}

.items1 {
  display: flex;
  padding-top: 10px;
  height: 40px;
  align-items: center;
  flex-direction: row;
}

.items-2 {
  display: flex;
  padding-top: 10px;
  height: 40px;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
  border-top: 1px solid rgb(155, 150, 150);
  border-bottom: 1px solid rgb(155, 150, 150);
  padding-bottom: 20px;
}

.title-one {
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
}

.group-container {
  padding-top: 15px;
  background: white;
}

.add-group {
  margin: 10px;
}

.add-group-btn {
  background: #2377f9;
  color: white;
  font-size: 14px;
}

.group-content {
  padding: 5px 5px 10px 10px;
  display: flex;
}

.group-items {
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.slot-items {
  flex-direction: row;
  width: 60%;
  padding-left: 10px;
  padding-right: 0;
}

.slot-item {
  padding-left: 10px;
  padding-right: 0;
  list-style: none;
  overflow: scroll;
  margin-bottom: 0;
}

.rm-btn1 {
  justify-content: left;
}

.remove-btn1,
.remove-btn2 {
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 300;
  background: red;
  color: white;
  text-align: center;
  border-radius: 3px;
}

.slot-name {
  width: 100%;
  line-height: 30px;
  justify-content: left;
}

.rm-btn2 {
  justify-content: right;
  margin: auto auto 20px 20px;
}

.group-name {
  width: 100%;
  padding-left: 50px;
  line-height: 30px;
  margin-right: 20px;
  justify-content: right;
  border-radius: 2px;
}

.slot-content {
  width: 100%;
}

.group-title,
.slot-title {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid rgb(155, 150, 150);
  border-radius: 2px;
}

.add-slot {
  margin-top: 5px;
  margin-left: 5px;
  padding: 0 10px 10px 10px;
}

.add-slot-btn {
  font-size: 16px;
  background: #4ccde2;
  color: white;
}
